/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@font-face {
  font-family: "Figtree";
  src: url('/fonts/Figtree-Bold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url('/fonts/Figtree-Italic.ttf') format('truetype');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url('/fonts/Figtree-BoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url('/fonts/Figtree-Regular.ttf') format('truetype');
  font-display: swap;
}

* { box-sizing: border-box; }

html {
  scroll-behavior: smooth;
}
