input[type="text"],
input[type="date"],
input[type="number"],
input[type="url"],
select,
fieldset,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  font-size: inherit;
}
textarea { min-height: 200px; font-family: inherit; }
input[type="submit"] { cursor: pointer; }
fieldset { padding: 1rem; }
img[src=""] { display: none; }

.form-group { margin-bottom: 1rem; }
.form-group > label { display: block; margin-bottom: 2px; }

@media (prefers-color-scheme: dark) {
  input, select, textarea {
    background: #121420;
    color: #E4E6EB;
  }
}

.form-layout, .form-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 1.5rem;

  @media (min-width: 480px) {
    grid-template-columns: 40% 60%;
  }

  & fieldset, div.resource { display: none; }
  & input:checked ~ fieldset, input:checked ~ div.resource { display: block; }
}

.grouped {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 480px) {
    flex-direction: row;
    gap: 1rem;
  }

  & > .form-group {
    flex-basis: 50%;
  }
}

.danger-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.danger-text {
  color: red;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
  font-size: inherit;
}

.flash-success {
  background-color: green;
  color: white;
  padding: 8px;
  border-radius: 4px;
}
