:root {
  --pico-font-family: "Figtree", sans-serif;
}

nav {
  display: block;
}

a { text-decoration: none; }
article { border: 1px solid var(--pico-muted-border-color); }

table.nowrap td { white-space: nowrap; }
