body[data-theme="neobrutalism"] {
  --border-color: #010101;

  article,
  input,
  textarea,
  select,
  button,
  *[role=button],
  img:not([src=""]),
  .flash-success,
  .flash-error,
  table,
  .badge {
    border-radius: 0px;
    border: 2px solid var(--border-color);
    box-shadow: 4px 4px 0 var(--border-color);
  }

  article img {
    border: none!important;
    box-shadow: none!important;
  }

  table td, hr, th {
    border-color: var(--border-color);
  }

  .outline { color: var(--border-color) }

  input[type=file]::file-selector-button {
    margin-left: 0.25rem;
    margin-top: 3px;
    padding: 4px 8px;
    margin-right: 0.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  body[data-theme="neobrutalism"] {
    --border-color: var(--pico-color);
  }
}
