.container {
  max-width: 720px;
  margin: 0 auto;
}
.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.mt-16 { margin-top: 4rem; }
.mb-16 { margin-bottom: 4rem; }
.mt-8 { margin-top: 2rem; }
.mt-4 { margin-top: 1rem; }
.mt-2 { margin-top: 0.5rem; }
.mt-1 { margin-top: 0.25rem; }
.mt-0 { margin-top: 0; }
.mb-8 { margin-bottom: 2rem; }
.mb-4 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 0.5rem; }
.mb-0 { margin-bottom: 0; }
.mr-4 { margin-right: 1rem; }
.mr-2 { margin-right: 0.5rem; }
.mr-1 { margin-right: 0.25rem; }
.p-0 { padding: 0; }
.p-2 { padding: 0.5rem; }
.p-4 { padding: 1rem; }
.pr-2 { padding-right: 0.5rem; }
.pl-2 { padding-left: 0.5rem; }
.px-4 { padding-left: 1rem; padding-right: 1rem; }
.px-2 { padding-left: 0.5rem; padding-right: 0.5rem; }
.inline-block { display: inline-block; }
.inline { display: inline; }
.block { display: block; }
.flex { display: flex; }
.items-end { align-items: flex-end; }
.gap-1 { gap: 0.25rem; }
.gap-2 { gap: 0.5rem; }
.gap-4 { gap: 1rem; }
.text-center { text-align: center; }
.text-gray { color: var(--pico-muted-color); }
.text-red { color: #FF0000; }
.text-green { color:  #32CD32; }
.text-white { color: white; }
.bg-red { background-color: red; }
.text-black { color: black; }
.text-orange { color: orange; }
.text-left { text-align: left; }
.underline { text-decoration: underline; }
.full-width { width: 100%; }

.flex { display: flex; }
.justify-between { justify-content: space-between; }
.items-center { align-items: center; }
.h-min { height: min-content; }
.w-1\/2 { width: 50%; }
.min-w-max { min-width: max-content; }
.w-max { width: max-content!important; }
.text-right { text-align: right; }
.text-sm { font-size: 0.875rem; }
.font-normal { font-weight: 400; }
.leading-loose { line-height: 2em; }
.overflow-x-scroll { overflow-x: scroll; }
.nowrap { white-space: nowrap; }

a:has(> article.product-card) {
  text-decoration: none;
  color: inherit;
}
.product-card {
  overflow: hidden;
}
.product-title {
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.product-image {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}
.product-price {
  font-size: 0.75rem;
  color: #008000;
}
.product-image--full-height {
  max-height: 100%;
}
.site-title, .cart {
  color: inherit;
  text-decoration: none;
}
.site-title {
  font-weight: 600;
  font-size: 1.25rem;
}
.icon, .cart-icon { width: 20px; }
.main-menu p {
  display: flex;
  gap: 0.75rem;
  margin: 0;
}
.icon-xlarge {
  width: 48px;
}
.flash-success {
  background-color: green;
  color: white;
  padding: 1rem;
  border-radius: 4px;
}

.flash-error {
  background-color: red;
  color: white;
  padding: 1rem;
  border-radius: 4px;
}

.badge {
  border-radius: 999px;
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--pico-muted-color);
}
