<h2>Halo orang baik!</h2>

<p style="line-height: 1.5; margin-bottom: 2rem;">Donasi kamu sebesar <%= tag.strong idr(@donation.amount) %> di <%= Setting.site_name.value %> sudah berhasil dilakukan.</p>

<p style="line-height: 1.5; margin-top: 2rem;">Terima kasih atas dukungan yang telah diberikan, semoga kami bisa selalu memberikan karya yang bermanfaat bagi semua. Aamiin.</p>

<p style="line-height: 1.5; margin-top: 3rem;">
  Salam,<br>
  <%= Setting.email_sender_name.value %>
</p>

