<%= link_to product_path(product.slug) do %>
  <article class="product-card">
    <header>
      <% if product.featured_image.attached? %>
        <%= image_tag product.featured_image, class: "product-image" %>
      <% end %>
      <%= render "products/product_price", product: product %>
      <h2 class="product-title"><%= product.name %></h2>
    </header>
  </article>
<% end %>
