<div>
  <small>
    <% if product.minimum_price.present? %>
      <strong>Mulai dari <%= idr product.minimum_price, text: false %></strong>
    <% elsif product.coming_soon? %>
      <strong>Coming soon!</strong>
    <% elsif product.sale_price? %>
      <del class="text-gray"><%= idr product.price %></del>
      <strong><%= idr product.sale_price %></strong>
    <% else %>
      <strong><%= idr product.price %></strong>
    <% end %>
  </small>
</div>
