<div class="admin-coupons-edit">
  <div class="page-header">
    <h1>Edit Kupon <code><%= @coupon.code %></code></h1>
  </div>

  <%= render "form", coupon: @coupon, products: @products, categories: @categories %>
</div>
